<div class="row">
    <div class="col-md-12">
        <h2>Items<a href="/items/add" class="btn btn-success pull-right">Add Post</a></h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Title</th>
                        <th>Post Date</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Published</th>
                        <th></th> <!-- New column for the remove button -->
                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                    <tr>
                        <td>{{this.itemId}}</td>
                        <td>{{this.title}}</td>
                        <td>{{this.postDate}}</td>
                        <td>{{this.price}}</td>
                        <td><a href="/items?category={{this.category}}">{{this.category}}</a></td>
                        <td>{{this.published}}</td>
                        <td>
                            <form action="/items/delete/{{this.itemId}}" method="post">
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{#unless items}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
        {{/unless}}
    </div>
</div>
